extends layouts/_application

block content
  - var backgroundIDs = [839, 823]

  section.content
    .postcard
      .container
        .centered
          h1 LOGOTEXTGOES HERE
          .ruled-cta
            a(href="#") Book an<br>appointment!
          .contacts
            .contact address
            .contact phone

  section.bgs
    - for (var i = 0; i < 2; ++i)
      .bg
        div(style="background-image:url('//unsplash.it/1000/?image=#{backgroundIDs[i]}');")