extends layouts/_application

block content

  section.content
    .postcard
      .container
        .side.side-01
          .centered
            include ../assets/images/foundry-logo.svg
            //- h2.tagline salon cooperative + creative space
            .ruled-cta
              a(href="https://www.styleseat.com/mbhair" target="_blank") Book an<br>appointment!
            .contacts
              .contact PH: (808) 255-6067<br>9AM - 6PM
              .contact 418A Kuulei Rd, Unit C<br>Kailua, HI 96734
          a.flip-button(href="#") ABOUT US
        .side.side-02
          .column
            include ../assets/images/foundry-logo.svg
            .row
              p PH: (808) 255-6067
              a(href="mailto:mbhairhnl@gmail.com") MBHAIRHNL@GMAIL.COM
            .row
              p 9AM - 6PM
            .row
              p 418A KUULEI RD, UNIT C<br>KAILUA, HI 96734
            .row
              a(href="http://instagram.com/foundryco.op" target="_blank")
                include ../assets/images/icon-instagram.svg
                | FOUNDRYCO.OP
          .column
            h6 ABOUT US
            //- <a class="btn-inline" href="https://www.styleseat.com/mbhair#carousel" target="_blank">Services/Prices</a>
            p A modern oasis boutique salon tucked away in the heart of Kailua, The Foundry is dedicated to providing quality and experience. We pride ourselves in creating the ultimate contemporary, on trend look that compliments each as an individual.
          a.flip-button(href="#") CLOSE
          #map(data-lat="21.395719" data-lng="-157.742035")

  section.copyright
    span © 2015 Foundry Salon & Cooperative

  section.bgs
      .bg
        .full-bg(style="background-image:url('assets/images/filler-02.jpg');")
      .bg#instagram-feed