extends layouts/_application

block content
  section.splash
    .splash__backgrounds.backgrounds
      .backgrounds__background.lazyload(data-src="assets/images/bg-profile.jpg" style="background-position: bottom left;")
      .backgrounds__background.lazyload(data-src="assets/images/bg-waiting.jpg")
      .backgrounds__background.lazyload(data-src="assets/images/bg-chairs.jpg")
    .splash__postcard.postcard
      .postcard__content
        include ../assets/images/foundry-logo.svg
        .script
          .script__spellout.lazyload(data-src="assets/images/book.gif") Book an<br>appointment!
        .ctas
          .ctas__cta
            a.btn.btn--cta.btn--callout#booking-link(href="https://clients.mindbodyonline.com/consumerbooking?studioid=819765" data-href-ios="itms-apps://itunes.apple.com/us/app/the-foundry-salon/id1198652338" data-href-android="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.thefoundrysalon&hl=en" target="_blank")
              | BOOK A STYLIST
              span
                span BOOK ONLINE
                | on MindBody
          .ctas__cta
            a.btn.btn--cta.btn--callout(href="tel:8086007539")
              | CALL US
              span
                span DIAL
                | (808) 600-7539
          .ctas__cta
            a.btn.btn--plain.btn--callout(href="#policy" smooth-scroll)
              | OUR POLICY
              span
                span REVIEW OUR
                | Policy &amp; Terms
          .ctas__cta
            a.btn.btn--plain.btn--callout(href="#location" smooth-scroll)
              | FIND LOCATION
              span
                span VIEW THE MAP
                | 418A Ku&lsquo;ulei Road, Unit C
          .ctas__cta.ctas__cta--desktop
            a.btn.btn--callout(href="https://itunes.apple.com/us/app/the-foundry-salon/id1198652338" target="_blank")
              img(src="assets/images/svg/logo-app-store.svg")
              span
                span BOOK ANYWHERE
                | on our iOS App
          .ctas__cta.ctas__cta--desktop
            a.btn.btn--callout(href="https://play.google.com/store/apps/details?id=com.fitnessmobileapps.thefoundrysalon&hl=en" target="_blank")
              img(src="assets/images/svg/logo-google-play.svg")
              span
                span BOOK ANYWHERE
                | on our Google Play App
    svg.transition.transition--abs.transition--bottom(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")

  section.about-salon
    .about-salon__container
      .about-salon__photo
        img(src="assets/images/hair-product.jpg")
      .about-salon__copy
        h2 A modern oasis boutique hair salon tucked away in the heart of Kailua.
        p The Foundry is dedicated to providing quality and experience. We pride ourselves in creating the ultimate contemporary, on-trend look that compliments each individual.

  section.stylists
    svg.transition.transition--abs.transition--top(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .stylists__copy
      h2 A team of stylists with the patience to find your best look.
      p Whether you&rsquo;re coming in for a haircut, coloring, extensions, treatment, or event updo, we take the time to understand your unique needs.
      p
        a(href="https://www.styleseat.com/s/thefoundry-kailua-hi" target="_blank") Book with one of our stylists&nbsp;
        | on Styleseat today.
    svg.transition.transition--abs.transition--bottom(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")

  section.policy#policy
    .policy__container
      .policy__title
        h2 Policy
      .policy__columns
        .policy__column
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-1(type="checkbox")
            .policy-dropdown__title
              label(for="dropdown-1"): h3 Booking
            .policy-dropdown__hidden
              p
                | A $50 deposit fee will be invoiced for all new clients once booked.
              p.small This deposit may be applied toward your service and void if:
              ul
                li the appointment is canceled within 24 hours
                li a no show occurs
              p.small I understand that sometimes schedule adjustments are necessary; therefore, I respectfully request at least 24 hours notice for cancellations to avoid a 50% service cancelation fee.
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-2(type="checkbox")
            .policy-dropdown__title
              label(for="dropdown-2"): h3 Service
            .policy-dropdown__hidden
              p Please take the time to read through your desired service before booking.
              p.small If you are unsure which service to book please contact us directly or schedule a consultation.
        .policy__column
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-3(type="checkbox")
            .policy-dropdown__title
              label(for="dropdown-3"): h3 Preparing for your Color Service
            .policy-dropdown__hidden
              p Arrive with clean, dry, and straightened hair. No beach hair please.
              p.small If a wash and blow dry is needed prior to starting your service, it may result in an extra charge or the rescheduling of your appointment due to time.
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-4(type="checkbox")
            .policy-dropdown__title
              label(for="dropdown-4"): h3 First visit with the Foundry?
            .policy-dropdown__hidden
              p Especially if it’s your first time — email us at <a href="mailto:foundryco.op@gmail.com?subject=First+time+color&body=Name:+%0D%0ATime+of+appointment:+%0D%0APhone:+%0D%0A%0D%0AHair+type:+%0D%0AColor+history:+%0D%0A" target="_blank">foundryco.op@gmail.com</a>.
              p.small This will give us a chance to get things perfect for you. Be sure to include:
              ul
                li your hair type
                li your color history
                li a photo of your current hair
                li a photo of your hair goal after booking

  section.gallery
    svg.transition.transition--top.transition--hide-mobile(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .gallery__container
      .gallery__feed.feed
        .feed__container#instafeed
        svg.transition.transition--abs.transition--top.transition--dark-desktop(viewBox="0 0 717 80")
          path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
        svg.transition.transition--abs.transition--bottom.transition--dark-desktop(viewBox="0 0 717 80")
          path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")
      .gallery__copy
        h2 A day at the Foundry <br>is worth a thousand words.
        p
          | Check out some of our past clients <br>on our&nbsp;
          a.btn(href="https://www.instagram.com/foundryco.op/" target="_blank") <img src="assets/images/svg/logo-instagram.svg" />&nbsp;
          | feed.

  section.location#location
    svg.transition.transition--abs.transition--top.transition--dark-desktop(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z" fill="#222")
    .location__prompt.map-prompt
      .map-prompt__copy
        h2
          | Get your new look at
          a(href="https://maps.google.com/maps/dir/Current+Location/The+Foundry,+418+Kuulei+Road,+Kailua,+HI/@29.3058134,-149.0940517,5z/" target="_blank") 418A Ku&lsquo;ulei Road, Unit C<br>Kailua, HI 96734
          | in the &ldquo;pink building&rdquo; just mauka of McDonald&rsquo;s.
        p.popdown Public 3 &amp; 5 hour meter parking available at Lani Huli - 25 Aulike st. Kailua.
    .location__map#map
    .copyright
      span.copyright__copy © 2016 The Foundry, Salon Cooperative &amp; Creative Space