extends layouts/_application

block content

  section.content
    .postcard
      .container
        .side.side-01
          .centered
            include ../assets/images/foundry-logo.svg
            p The salon of hair stylist and make-up artist @mbhair.
            .ruled-cta
              a(href="#") Book an<br>appointment!
            .contacts
              .contact 418A Kuulei Rd., Unit C<br>Kailua, HI 96734
              .contact @mbhair<br>mbhairhnl@gmail.com
          a.flip-button(href="#") flip
        .side.side-02
          a.flip-button(href="#") flip
          p fuggle nugget

  section.bgs
    - for (var i = 0; i < 2; ++i)
      .bg
        div(style="background-image:url('assets/images/filler-0#{i+1}.jpg');")