extends layouts/_application

block content
  section.splash
    .splash__backgrounds.backgrounds
      .backgrounds__background.lazyload(data-src="assets/images/bg-mirror.jpg" style="background-position: right center;")
      .backgrounds__background.lazyload(data-src="assets/images/bg-plant.jpg" style="background-position: center center;")
      .backgrounds__background.lazyload(data-src="assets/images/bg-salon.jpg" style="background-position: right center;")
    .splash__postcard.postcard
      .postcard__content
        include ../assets/images/foundry-logo.svg
        .script
          .script__spellout.lazyload(data-src="assets/images/book.gif") Book an<br>appointment!
        .ctas
          .ctas__cta
            a.btn.btn--cta.btn--filled(href="https://square.site/book/A54N2205XGETA/foundry-salon-kailua-hi" target="_blank") BOOK A STYLIST
          .ctas__cta
            a.btn.btn--link(href="#policy" smooth-scroll) OUR POLICY
        .metadata
          a.metadata__group(href="https://goo.gl/maps/MQzobC2AhDoQtHbK6" target="_blank")
            img(src="assets/images/icon-location.png")
            span 418A Ku‘ulei Road, Unit C, Kailua, HI 96734
        .metadata
          .metadata__group
            img(src="assets/images/icon-time.png")
            span Open daily, 9am - 5pm
          a.metadata__group(href="tel:8086007539" target="_blank")
            img(src="assets/images/icon-phone.png")
            span (808) 600-7539
          a.metadata__group(href="https://www.instagram.com/foundryco.op/" target="_blank")
            img(src="assets/images/icon-instagram.png")
            span /foundryco.op

    svg.transition.transition--abs.transition--bottom(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")

  section.about-salon
    .about-salon__container
      .about-salon__photo
        img(src="assets/images/hair-product.jpg")
      .about-salon__copy
        h2 A modern oasis boutique hair salon tucked away in the heart of Kailua.
        p The Foundry is dedicated to providing quality and experience. We pride ourselves in creating the ultimate contemporary, on-trend look that compliments each individual.

  section.stylists
    svg.transition.transition--abs.transition--top(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .stylists__copy
      h2 A team of stylists with the patience to find your best look.
      p Whether you&rsquo;re coming in for a haircut, coloring, extensions, treatment, or event updo, we take the time to understand your unique needs.
      p
        a(href="https://squareup.com/appointments/book/A54N2205XGETA/foundry-salon-kailua-hi" target="_blank") Book with one of our stylists&nbsp;
        | today.
    svg.transition.transition--abs.transition--bottom(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")

  section.policy#policy
    .policy__container
      .policy__title
        h2 Our Policy
      .policy__columns
        .policy__column
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-1(type="checkbox" checked)
            .policy-dropdown__title
              label(for="dropdown-1"): h3 Cancellation policy
            .policy-dropdown__hidden
              p.small Your appointment and services are reserved personally <strong>just for you</strong>.
              ul
                li If you need to cancel, we require <strong>24 hours notice in advance</strong> to avoid cancellation fees.
                li If a a cancelation or no-show occurs within our policy time a $50 fee will apply to your credit card on file.  
                li If you are more than 15 minutes late for your appointment we reserve the right to cancel or reschedule your appointment with a rebooking fee.
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-4(type="checkbox" checked)
            .policy-dropdown__title
              label(for="dropdown-4"): h3 Pricelist
            .policy-dropdown__hidden
              p.small <a href="https://squareup.com/appointments/book/49d72564-af16-4c7d-a44f-34148065a052/A54N2205XGETA/services" class="btn btn--link" target="_blank">See Pricelist</a>

        .policy__column
          .policy-dropdown
            input.policy-dropdown__toggle#dropdown-2(type="checkbox" checked)
            .policy-dropdown__title
              label(for="dropdown-2"): h3 Preparing for your Service
            .policy-dropdown__hidden
              p.small Please arrive with <strong>clean, dry and straight hair</strong>.  No beach hair please.
              ul
                li If a blow dry is required it may result in an additional charge or rescheduling of appointment due to time and consideration of following clients. 
              p.small Due to our intimate salon setting we kindly ask that <strong>other arrangements are made for your children</strong> to ensure the best experience for yourself and our other guests during your services.

  section.gallery
    svg.transition.transition--top(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .gallery__bg.lazyload(data-src="assets/images/gallery/full.jpg" data-src-small="assets/images/gallery/full--mobile.jpg")
    .gallery__container
      .gallery__copy
        h2 A day at the Foundry <br>is worth a thousand words.
        p
          | Check out some of our past clients <br>on our&nbsp;
          a.btn(href="https://www.instagram.com/foundryco.op/" target="_blank") <img src="assets/images/svg/logo-instagram.svg" />&nbsp;
          | feed.

  section.location#location
    svg.transition.transition--abs.transition--top.transition--dark(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z" fill="#222")
    .location__prompt.map-prompt
      .map-prompt__container
        a.map-prompt__item(href="https://goo.gl/maps/MQzobC2AhDoQtHbK6" target="_blank")
          img(src="assets/images/marker-pink.png")
          .map-prompt__item__text
            h4 Foundry Salon
            h5 418A Ku'ulei Road, Unit C<br />Kailua, HI 96744
            h6 Located in the pink building street level. Next to the McDonald’s drive thru once you exit the parking lot.
        a.map-prompt__item(href="https://goo.gl/maps/Kv4wAogDs4Mt2scm8" target="_blank")
          img(src="assets/images/marker-parking.png")
          .map-prompt__item__text
            h4 Parking
            h5 Lani Huli Building parking (coin metered)<br />25 Aulike St.<br />Kailua, HI 96734
            h6 Parking is available at the Lani Huli Building’s basement coin metered lot.
    .location__map#map
    .copyright
      span.copyright__copy © 2016 – 2019 The Foundry, Salon Cooperative &amp; Creative Space
