extends layouts/_application

block content

  section.content
    .postcard
      .container
        .side.side-01
          .centered
            include ../assets/images/foundry-logo.svg
            h2.tagline salon cooperative + creative space
            .ruled-cta
              a(href="https://www.styleseat.com/mbhair" target="_blank") Book an<br>appointment!
            .contacts
              .contact 418A Kuulei Rd., Unit C<br>Kailua, HI 96734
              .contact mbhairhnl@gmail.com<br>@mbhair
          a.flip-button(href="#") ABOUT
        .side.side-02
          p The salon of hair stylist and make-up artist @mbhair.
          a.flip-button(href="#") BACK

  section.bgs
      .bg
        .full-bg(style="background-image:url('assets/images/filler-02.jpg');")
      .bg#instagram-feed