extends layouts/_application

block content
  section.splash
    .splash__backgrounds.backgrounds
      .backgrounds__background.lazyloaded(data-src="assets/images/bg-profile.jpg" style="background-position: bottom left;")
      .backgrounds__background.lazyloaded(data-src="assets/images/bg-waiting.jpg")
      .backgrounds__background.lazyloaded(data-src="assets/images/bg-chairs.jpg")
    .splash__postcard.postcard
      .postcard__content
        include ../assets/images/foundry-logo.svg
        .script
          .script__spellout(class="lazyloaded" data-src="assets/images/book.gif") Book an<br>appointment!
        .ctas
          .ctas__cta
            a.btn.btn--cta(href="https://www.styleseat.com/s/thefoundry-kailua-hi" target="_blank") BOOK A STYLIST
          .ctas__cta
            a.btn.btn--cta.btn--callout(href="tel:8086007539")
              | CALL US
              span
                span DIAL
                | (808) 600-7539
          .ctas__cta
            a.btn.btn--cta.btn--callout(href="#location")
              | FIND LOCATION
              span
                span SEE MAP
                | 418A Ku&lsquo;ulei Road, Unit C
    svg.splash__transition(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")
  section.about-salon
    .about-salon__container
      .about-salon__photo
        img(src="assets/images/hair-product.jpg")
      .about-salon__copy
        h2 A modern oasis boutique hair salon tucked away in the heart of Kailua.
        p The Foundry is dedicated to providing quality and experience. We pride ourselves in creating the ultimate contemporary, on-trend look that compliments each as an individual.
  section.stylists
    svg.stylists__transition.stylists__transition--top(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .stylists__copy
      h2 A team of stylists with the patience to find your best look.
      p Whether you&rsquo;re coming in for a haircut, coloring, extensions, treatment, or event updo, we take the time to understand your unique needs.
      p
        a.btn.btn--plain(href="https://www.styleseat.com/s/thefoundry-kailua-hi" target="_blank") Book with one of our stylists&nbsp;
        | on Styleseat today.
    svg.stylists__transition.stylists__transition--bottom(viewBox="0 0 717 80")
      path(d="M5.68434189e-14,80.3951975 L719.999989,80.3951975 L720,0 L5.68434189e-14,80.3951975 Z")
  section.gallery
    .gallery__container
      .gallery__feed.feed
        .feed__container#instafeed
      .gallery__copy
        h2 A day at the Foundry <br>is worth a thousand words.
        p
          | Check out some of our past clients <br>on our&nbsp;
          a.btn(href="https://www.instagram.com/foundryco.op/" target="_blank") <img src="assets/images/svg/logo-instagram.svg" />&nbsp;
          | feed.
  section.location#location
    svg.location__transition(viewBox="0 0 717 80")
      path(d="M0.197861671,80 L720.197862,1.23762745e-14 L0.197861665,1.23762745e-14 L0.197861671,80 Z")
    .location__prompt.map-prompt
      .map-prompt__copy
        h2 Get your new look at
        h2 418A Ku&lsquo;ulei Road, Unit C<br>Kailua, HI 96734
        h2 in the &ldquo;pink building&rdquo; just mauka of McDonald&rsquo;s.
        p Paid parking available at Lani Huli Building on 25 Alulike Street.
    .location__map#map