.btn {
  text-decoration: none;
  &--cta {
    display: block;
    min-width: 10rem;
    padding: $column-gutter;
    border: 2px solid color($c-pallete1 tint(72.5%));
    color: $c-pallete1;
    font-weight: 600;
    font-size: .65rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 250ms $easeOutExpo background;
    &:hover {
      background-color: color($c-pallete1 tint(72.5%));
    }
  }
  &--plain {
    color: $c-pallete6;
  }
}