.postcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: $base-zindex;
  // margin: 0 auto;

  width: 90%;
  max-height: 500px;
  height: 85%;

  perspective: 1000;

  .postcard-flipped & .container { transform: rotateX(-180deg); }

  .container, .container .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    transition: 1.25s $easeOutExpo;
    transform-style: preserve-3d;
  }

  .side {
    backface-visibility: hidden;

    border-radius: 5px;

    padding: ($column-gutter*2) $column-gutter;
    text-align: center;
    box-shadow: 0 2px 3px 1px rgba(#000,.1);

    &.side-01 {
      z-index: 2;
      transform: rotateX(0deg);
      background: #fff;
    }
    &.side-02 {
      z-index: 1;
      transform: rotateX(180deg);
      background: $c-pallete1;
      color: #fff;
    }
  }

  .column {
    lost-column: 1/2 2 ($column-gutter/2);
    .foundry-logo path { fill: #fff; }
    &:nth-child(2) {
      height: 100%;
    }
  }
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  lost-center: $row-width;
  h1 {
    margin: 0;
  }
}

@media screen and (min-width: 560px) {
  .postcard {
    width: 520px;
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .postcard {
    width: 700px;
    height: 480px;
  }
}

a.flip-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: ($column-gutter/4);
  text-decoration: none;
  border-radius: 0 0 5px 5px;
  letter-spacing: .1rem;
  transition: all 250ms $easeOutExpo;
  .side-01 & {
    color: #fff;
    background: $c-pallete3;
    &:hover {
      // color: $c-pallete1;
      background: darken($c-pallete3,2%);
    }
  }
  .side-02 & {
    color: #aaa;
    background: transparent;
    &:hover {
      color: #ccc;
    }
  }
}

// @media screen and (min-width: 1024px) {
//   a.flip-button {
//     bottom: initial;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//   }
// }