.postcard {
  position: relative;
  .column {
    position: relative;
    z-index: ($base-zindex + 50);

    .foundry-logo path { fill: #fff; }

    &:nth-child(1) {
      text-align: center;
    }
    &:nth-child(2) {
      h6 {
        margin: 0 0 .25em;
        padding: 0 0 .5em;
        border-bottom: rgba(#fff,.125) 1px solid;
        letter-spacing: .1rem;
      }
      p {
        margin-top: .5em;
        font-size: .9rem;
      }
    }
  }
}

@media screen and (max-width: $mq-small) {
  .postcard-flipped .postcard {
    position: absolute;
    // top: 2.5%;
    // transform: translate3d(-50%, 0, 0);
    // height: 90%;
    // max-height: none;
    .container {
      // transform: rotateX(-180deg);
      lost-utility: clearfix;
    }
    .side {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
    svg.foundry-logo {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    a.btn--flip {
      bottom: initial;
      top: 0;
    }
    .column {
      &:nth-child(2) {
        h6 {
          margin: 3em 0 1em;
          padding: 0 0 1em;
        }
      }
    }
  }
}

@media screen and (min-width: $mq-small) {
  .postcard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: $base-zindex;
    // margin: 0 auto;

    width: 90%;
    max-height: 500px;
    height: 85%;

    perspective: 1000;

    .postcard-flipped & {
      .container {
        transform: rotateX(-180deg);
      }
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 1.25s $easeOutExpo;
      transform-style: preserve-3d;
    }
    width: 700px;
    height: 480px;
    .column {
      lost-column: 1/2 2 ($column-gutter*4);
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.row {
  margin-top: ($column-gutter*1.5);
  padding-top: ($column-gutter*1.5);
  border-top: rgba(#fff,.125) 1px solid;

  &:first-of-type {
    margin-top: 0;
    border-top: 0;
  }
  p {
    margin: 0;
  }
  svg {
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
    margin-right: 3px;
    path {
      fill: #fff;
      transition: fill 250ms $easeOutExpo;
    }
  }
}

.side {
  border-radius: 5px;
  line-height: 1.5;

  padding: ($column-gutter*2);
  box-shadow: 0 2px 3px 1px rgba(#000,.1);

  &-01 {
    background: #fff;
    text-align: center;
  }
  &-02 {
    background: $c-pallete1;
    color: #fff;
    a {
      text-decoration: none;
      color: #eee;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    &__content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      lost-center: $row-width;
      h1 {
        margin: 0;
      }
    }
    &-01 {
      z-index: 2;
      transform: rotateX(0deg);
    }
    &-02 {
      z-index: 1;
      transform: rotateX(180deg);
    }
  }
}