.postcard {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: $base-zindex;
  // margin: 0 auto;

  width: 90%;
  max-height: 500px;
  height: 85%;

  perspective: 1000;

  .postcard-flipped & {
    .container {
      transform: rotateX(-180deg);
    }
  }

  .container, .container .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    transition: 1.25s $easeOutExpo;
    transform-style: preserve-3d;
  }

  .side {
    backface-visibility: hidden;

    border-radius: 5px;

    padding: ($column-gutter*2);
    box-shadow: 0 2px 3px 1px rgba(#000,.1);

    &.side-01 {
      z-index: 2;
      transform: rotateX(0deg);
      background: #fff;
      text-align: center;
    }
    &.side-02 {
      z-index: 1;
      transform: rotateX(180deg);
      background: $c-pallete1;
      color: #fff;
    }
  }

  .column {
    position: relative;
    z-index: ($base-zindex + 50);

    .foundry-logo path { fill: #fff; }

    &:nth-child(1) {
      text-align: center;
    }
    &:nth-child(2) {
      // height: 100%;
      h6 {
        margin: 0 0 .25em;
        padding: 0 0 .5em;
        border-bottom: rgba(#fff,.125) 1px solid;
        letter-spacing: .1rem;
      }
      p {
        margin-top: .5em;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .postcard-flipped .postcard {
    position: absolute;
    top: 2.5%;
    transform: translate3d(-50%, 0, 0);
    height: 90%;
    max-height: none;
    .container {
      transform: rotateX(-180deg);
      lost-utility: clearfix;
    }
    .side {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
    svg.foundry-logo {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    a.flip-button {
      bottom: initial;
      top: 0;
    }
    .column {
      &:nth-child(2) {
        h6 {
          margin: 3em 0 1em;
          padding: 0 0 1em;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard {
    .column {
      lost-column: 1/2 2 ($column-gutter*4);
    }
  }
}

.row {
  margin-top: ($column-gutter*1.5);
  padding-top: ($column-gutter*1.5);
  border-top: rgba(#fff,.125) 1px solid;

  &:first-of-type {
    margin-top: 0;
    border-top: 0;
  }
  p {
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: color 250ms $easeOutExpo;
    &:hover {
      color: $c-pallete2;
      svg path { fill: $c-pallete2; }
    }
  }
  svg {
    display: inline-block;
    height: 1.1em;

    position: relative;
    top: 2px;
    margin-right: 3px;
    path {
      fill: #fff;
      transition: fill 250ms $easeOutExpo;
    }
  }
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  lost-center: $row-width;
  h1 {
    margin: 0;
  }
}

@media screen and (min-width: 560px) {
  .postcard {
    width: 520px;
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .postcard {
    width: 700px;
    height: 480px;
  }
}

a.flip-button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: ($base-zindex + 50);
  width: 100%;
  padding: ($column-gutter/4);
  text-decoration: none;
  border-radius: 0 0 5px 5px;
  letter-spacing: .1rem;
  text-align: center;
  transition: all 250ms $easeOutExpo;
  .side-01 & {
    color: #fff;
    background: $c-pallete3;
    &:hover {
      // color: $c-pallete1;
      background: darken($c-pallete3,2%);
    }
  }
  .side-02 & {
    color: #aaa;
    background: transparent;
    &:hover {
      color: #ccc;
    }
  }
}

// #map {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 0;
//   padding-bottom: 30%;
//   overflow: hidden;
// }

@media screen and (min-width: 800px) {
  #map {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
    padding-bottom: 0;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000,.5);
      transition: background 1s $easeOutExpo;
    }
    .postcard-flipped & {
      &:after {
        background: rgba(#000,.75);
      }
    }
  }
}