.transition {
  z-index: 110;
  pointer-events: none;
  display: block;
  width: 100%;
  height: auto;
  path {
    fill: $c-pallete7;
  }
  &--abs {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.05);
  }
  &--top {
    top: 0;
  }
  &--bottom {
    top: initial;
    bottom: 0;
  }
  &--dark {
    path {
      fill: $c-pallete1;
    }
  }
}