section.content {
  // position: relative;
  // width: 100%;
  // height: 100%;
  lost-utility: clearfix;
  transition: width 500ms $easeOutExpo;
}

svg.foundry-logo {
  display: block;
  width: 100%;
  path {
    &.text-foundry { fill: $c-pallete1; }
    &.text-salon-coop { fill: lighten(desaturate($c-pallete2,20%),3%); }
  }
}

.ruled-cta {
  position: relative;

  border-top: 1px solid #D2D0C7;
  border-bottom: 1px solid #D2D0C7;
  margin: ($column-gutter*4) auto ($column-gutter*6);
  height: ($column-gutter*2);

  &:after {
    content: "";
    position: absolute;
    bottom: -100%;
    right: 0;
    height: 1.25em;
    width: 7.375em;
    background-image: url('../images/logo-styleseat.png');
    background-size: 100% 100%;
    opacity: .45;
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(.975);
    display: inline-block;
    width: 160px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center center;
    color: transparent;
    transition: transform 500ms $easeOutExpo;

    -webkit-backface-visibility: hidden;
    &:hover {
      transform: translateY(-50%) translateX(-50%) rotate(-1deg) scale(1);
    }
    &.lazyloaded-error {
      height: auto;
      width: auto;
      color: $c-pallete1;
      font: 3rem/1 $script-font-family;
      text-decoration: none;
      transition: color 500ms $easeOutExpo;
      transform: translateY(-60%) translateX(-50%) rotate(-15deg);
    }
  }
}

@media screen and (min-width: $mq-small) {
  .ruled-cta {
    height: ($column-gutter*3);
    &__link {
      width: 240px;
      height: 140px;
    }
  }

}

.contacts {
  lost-utility: clearfix;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 1.1rem;
  .contact {
    margin-bottom: $column-gutter;
    a {
      color: $c-pallete1;
      text-decoration: none;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .contacts {
    font-size: .9em;
    .contact {
      lost-column: 1/2 2 0;
    }
  }
}

.social--mobile {
  list-style: none;
  margin: $column-gutter 0 ($column-gutter*2);
  padding: 0;
  li {
    display: inline-block;
    margin-right: ($column-gutter*1.5);

  }
  img, svg {
    height: 1.25rem;
    width: auto;
  }
  svg {
    path {
      fill: #fff;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .social--mobile {
    display: none;
  }
}

@media screen and (min-width: $mq-small) {
  section.bgs {
    lost-utility: clearfix;

    position: relative;
    z-index: 1;
    .full-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background-size: cover;
      background-repeat: no-repeat;
    }
    .bg {
      position: relative;
      overflow: hidden;
      height: 100vh;
      lost-column: 1/2 0 0;
    }
  }
}