svg.foundry-logo {
  display: block;
  width: 100%;
  path {
    &.text-foundry { fill: $c-pallete1; }
    &.text-salon-coop { fill: #d5c1a5; }
  }
}

.script {
  position: relative;

  border-top: 1px solid #D2D0C7;
  border-bottom: 1px solid #D2D0C7;
  margin: calc($column-gutter*4) auto calc($column-gutter*5);
  height: calc($column-gutter*2);
  transition: height 250ms $easeOutExpo;

  &__spellout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: inline-block;
    width: 160px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center center;
    color: transparent;
    -webkit-backface-visibility: hidden;
    &.lazyloaded-error {
      height: auto;
      width: auto;
      color: $c-pallete1;
      font: 3rem/1 $script-font-family;
      text-decoration: none;
      transition: color 500ms $easeOutExpo;
      transform: translateY(-60%) translateX(-50%) rotate(-15deg);
    }
  }
}

@media screen and (min-width: $mq-small) {
  .script {
    height: calc($column-gutter*3);
    max-width: 500px;
    &__spellout {
      width: 200px;
      height: 112.5px;
    }
  }
}

.ctas {
  &__cta {
    margin-bottom: $column-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


@media screen and (min-width: $mq-small) {
  .ctas {
    lost-utility: clearfix;
    lost-center: 500px;
    &__cta {
      display: inline-block;
      margin-bottom: 1rem;
      width: 100%;
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: calc(50% - .5rem);
        margin-bottom: 0;
      }
      &:nth-of-type(2) {
        margin-right: 1rem;
      }
    }
  }
}

.contacts {
  lost-utility: clearfix;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: .9rem;
  .contact {
    margin-bottom: $column-gutter;
    a {
      color: $c-pallete1;
      text-decoration: none;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .contacts {
    font-size: .9em;
    .contact {
      lost-column: 1/2 2 0;
      margin-bottom: 0;
    }
  }
}

.social--mobile {
  list-style: none;
  margin: $column-gutter 0 calc($column-gutter*2);
  padding: 0;
  li {
    display: inline-block;
    margin-right: calc($column-gutter*1.5);

  }
  img, svg {
    height: 1.25rem;
    width: auto;
  }
  svg {
    path {
      fill: #fff;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .social--mobile {
    display: none;
  }
}

@media screen and (min-width: $mq-small) {
  section.bgs {
    lost-utility: clearfix;

    position: relative;
    z-index: 1;
    .full-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 60vh;
      width: 100%;

      background-size: cover;
      background-repeat: no-repeat;
    }
    .bg {
      position: relative;
      overflow: hidden;
      height: 60vh;
      lost-column: 1/2 0 0;
    }
  }
}