section.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 90%;
  z-index: 100;
  lost-utility: clearfix;
  transition: width 500ms $easeOutExpo;
}

@media screen and (min-width: 640px) {
  section.content {
    width: percentage(2/3);
  }
}

@media screen and (min-width: 1024px) {
  section.content {
    width: percentage(1/2);
  }
}

svg.foundry-logo {
  display: block;
  max-width: 420px;
  margin: 0 auto;
}

.ruled-cta {
  border-top: 1px solid #D2D0C7;
  border-bottom: 1px solid #D2D0C7;
  margin: ($column-gutter*3) auto;
  width: 320px;
  max-width: 95%;

  a {
    display: inline-block;
    font: 1.75rem/.5 $script-font-family;
    color: #444;
    text-decoration: none;
    transform: rotate(-15deg) translateY(-30%) scale(2.5);
  }
}

.postcard {
  position: relative;

  height: 0;
  padding-bottom: 68%;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #fff;
    background-size: cover;
    border-radius: 5px;

    padding: ($column-gutter*2) $column-gutter;
    text-align: center;
    box-shadow: 0 2px 3px 1px rgba(#000,.1);
  }

  .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    margin: 0;
  }
}

section.bgs {
  lost-utility: clearfix;
  .bg {
    lost-column: 1/2 0 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
    &:nth-of-type(1) div {
      background-position: right center;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background-size: cover;
      background-repeat: no-repeat;

    }
  }
}