$column-gutter:  1em;
$row-width:      420px;

$easeOutExpo:    cubic-bezier(0.19, 1, 0.22, 1);

$body-font-family:   "brandon-grotesque",sans-serif;
$script-font-family: "lakeside", sans-serif;

$c-brown:      #604B43;

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-weight: 200;
  font-size: 80%;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}