$column-gutter:         1em;
$row-width:             420px;

$base-zindex:           100;

$easeOutExpo:           cubic-bezier(0.19, 1, 0.22, 1);

$body-font-family:      "Lato", "Helvetica Neue", sans-serif;
$script-font-family:    "Dancing Script", cursive;

$mq-small:              768px;

$c-pallete1:            #3D3C40;
$c-pallete2:            #DFBC8C;
$c-pallete3:            #B9A895;
$c-pallete4:            #855E56;
$c-pallete5:            #8E655A;

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-weight: 200;
  font-size: 80%;
  color: $c-pallete1;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}