body {
  background: #3D3C40;
}

@media screen and (min-width: $mq-small) {
  main.main {
    @include overlayColor(#fff, .5);
  }
}

.btn {
  &-inline {
    display: inline-block;
    padding: .175rem .5rem;
    border-radius: 2px 2px 0 0;
    // margin-left: .25rem;
    float: right;
    background: rgba(#fff,.125);

    // font-size: .75rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    transition: 250ms background $easeOutExpo;
    &:hover {
      background: rgba(#fff, .25);
    }
  }
  &--book-small {
    padding: .25rem .5rem;
    border-radius: .25rem;
    img {
      height: 1.25rem;
      width: auto;
      vertical-align: sub;
      margin-left: .25rem;
    }
  }
  &--flip {
    display: none;
  }
}

@media screen and (min-width: $mq-small) {
  .btn {
    &--flip {
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      z-index: ($base-zindex + 50);
      padding: 1rem;
      text-decoration: none;
      letter-spacing: .1rem;
      text-align: center;
      transition: all 250ms $easeOutExpo;
      .side-01 & {
        bottom: 0;
        color: #fff;
        background: $c-pallete1;
        box-shadow: 2px 0 5px rgba(#000,.25);
        &:hover {
          background: darken($c-pallete1, 5%);
        }
      }
      .side-02 & {
        color: $c-pallete1;
        font-size: 4rem;
        line-height: 0;
        &:hover {
          color: lighten($c-pallete1, 5%);
        }
      }
      transform: translateX(-50%) translateY(100%);
      .side-01 & {
        bottom: -1rem;
        &:hover {
          transform: translateX(-50%) translateY(100%) scale(.95);
        }
      }
      .side-02 & {
        bottom: -1rem;
      }
    }
  }
}

@media screen and (min-width: $mq-small) {
  a[href*="tel:"] {
    pointer-events: none;
  }
}