.gallery {
  background-color: $c-pallete7;
  &__container {
    lost-center: $row-width;
    padding: calc($column-gutter*2) 0;
    display: flex;
    align-items: center;
  }
  &__copy,
  &__feed {
    lost-column: 1/2 2;
  }
  &__copy {
    img {
      height: 2rem;
      width: auto;
      vertical-align: middle;
    }
  }
  &__feed {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url('../images/gradient--bottom.gif');
      z-index: 300;
      width: 100%;
      height: 0;
      padding-bottom: 27%;
      background-size: auto 100%;
      pointer-events: none;
    }
  }
}

.feed {
  &__container {
    max-height: 70vh;
    overflow: scroll;
  }
  &__image {
    lost-column: 1/2 2 $column-gutter;
    margin-bottom: $column-gutter;
  }
}