.gallery {
  background-color: $c-pallete1;
  color: #fff;
  &__container {
    lost-center: $row-width;
    padding: 0;
  }
  &__copy,
  &__feed {
    width: 100%;
  }
  &__copy {
    padding-left: calc($column-gutter*2);
    padding-right: calc($column-gutter*2);
    br {
      display: none;
    }
    img {
      display: inline;
      height: 2rem;
      width: auto;
      vertical-align: middle;
    }
  }
  .transition {
    z-index: 300;
  }
}

@media screen and (max-width: $mq-small--max) {
  .gallery {
    &__container {
      position: relative;
    }
    &__feed {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        height: 100%;
        background-color: color($c-pallete1 a(.75));
      }
    }
    &__copy {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 210;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (min-width: $mq-small) {
  .gallery {
    &__container {
      display: flex;
      align-items: center;
      padding: calc($column-gutter*4) $column-gutter;
    }
    &__copy,
    &__feed {
      lost-column: 1/2 2;
    }
    &__feed {
      margin-bottom: 0;
    }
    &__copy {
      padding-left: 0;
      padding-right: 0;
      br {
        display: inline;
      }
    }
  }
}

.feed {
  position: relative;
  overflow: hidden;
  &__container {
    max-height: 400px;
    white-space: nowrap;
    background-color: $c-pallete1;
  }
  &__image {
    lost-column: 1/5 5 0;
    padding-bottom: 20%;
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: $mq-small) {
  .feed {
    &__container {
      max-height: 70vh;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    &__image {
      lost-column: 1/2 2 0;
      padding-bottom: 50%;
    }
  }
}