.splash {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  &__backgrounds {
    position: relative;
    height: 100%;
  }
}

.backgrounds {
  &__background {
    lost-column: 1/3 3 0;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.postcard {
  position: relative;
  background-color: #fff;
  padding: ($column-gutter*4) $column-gutter;
  line-height: 1.5;
  text-align: center;
  transition: padding 250ms $easeOutExpo;
}

@media screen and (min-width: $mq-small) {
  .postcard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: $base-zindex;
    width: 700px;
    padding: ($column-gutter*2);
    border-radius: 4px;
    box-shadow: 0 2px 3px 1px rgba(#000,.1);

    &__content {
      lost-center: $row-width;
    }
  }
}

.foundry-logo {
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: $mq-small) {
  .foundry-logo {
    max-width: none;
    padding: 0 2rem;
  }
}