.splash {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: $min-height;
  background: color($c-pallete3 tint(50%) saturation(10%));
  &__backgrounds {
    position: relative;
    height: 100%;
  }
}

.backgrounds {
  overflow: hidden;
  &__background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: none;
    &.lazyload {
      transform: translateY(-1rem);
      opacity: 0;
      transition: 750ms ease-out all;
      &--success {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &:last-of-type {
      display: block;
    }
  }
}

@media screen and (min-width: $mq-small) {
  .backgrounds {
    &__background {
      lost-column: 1/3 3 0;
      display: block;
    }
  }
}

.postcard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  transform: translate3d(-50%, -50%, 0);
  z-index: 400;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px 1px color(#000 a(10%));
  padding: calc($column-gutter*4) $column-gutter;
  line-height: 1.5;
  text-align: center;
  transition: padding 250ms $easeOutExpo;
}

@media screen and (min-width: $mq-small) {
  .postcard {
    width: $row-width--postcard;
    padding: calc($column-gutter*4);
  }
}

.foundry-logo {
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: $mq-small) {
  .foundry-logo {
    max-width: none;
    padding: 0 8rem;
  }
}

.script {
  position: relative;

  border-top: 1px solid #D2D0C7;
  border-bottom: 1px solid #D2D0C7;
  margin: calc($column-gutter*4) auto calc($column-gutter*5);
  height: calc($column-gutter*2);
  transition: height 250ms $easeOutExpo;

  &__spellout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: inline-block;
    width: 160px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center center;
    color: transparent;
    -webkit-backface-visibility: hidden;
    &.lazyloaded-error {
      height: auto;
      width: auto;
      color: $c-pallete1;
      font: 3rem/1 $script-font-family;
      text-decoration: none;
      transition: color 500ms $easeOutExpo;
      transform: translateY(-60%) translateX(-50%) rotate(-15deg);
    }
  }
}

@media screen and (min-width: $mq-small) {
  .script {
    height: calc($column-gutter*3);
    max-width: 500px;
    &__spellout {
      width: 200px;
      height: 112.5px;
    }
  }
}

.ctas {
  &__cta {
    margin-bottom: $column-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


@media screen and (min-width: $mq-small) {
  .ctas {
    lost-utility: clearfix;
    lost-center: 500px;
    &__cta {
      lost-column: 1/2 2 $column-gutter;
      /* display: inline-block; */
      margin-bottom: 1rem;
      /* width: 100%;
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: calc(50% - .5rem);
        margin-bottom: 0;
      }
      &:nth-of-type(2) {
        margin-right: 1rem;
      } */
    }
  }
}

@media screen and (min-width: $mq-small) {
  section.bgs {
    lost-utility: clearfix;

    position: relative;
    z-index: 1;
    .full-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 60vh;
      width: 100%;

      background-size: cover;
      background-repeat: no-repeat;
    }
    .bg {
      position: relative;
      overflow: hidden;
      height: 60vh;
      lost-column: 1/2 0 0;
    }
  }
}