.stylists {
  position: relative;
  lost-utility: clearfix;
  background-color: $c-pallete1;
  padding: calc($column-gutter*8) calc($column-gutter*2);
  background-image: url("../images/stylists.jpg");
  background-size: cover;
  background-position: center center;
  h2, p {
    color: #fff;
  }
  &__transition {
    position: absolute;
    left: 0;
    z-index: 110;
    pointer-events: none;
    display: block;
    width: 100%;
    height: auto;
    path {
      fill: #eeede9;
    }
    &--top {
      top: 0;
    }
    &--bottom {
      bottom: 0;
    }
  }
  &__copy {
  }
}

@media screen and (min-width: $mq-small) {
  .stylists {
    min-height: 100vh;
    padding: $column-gutter;
    &__copy {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      lost-center: $row-width;
      width: 100%;
      h2, p {
        width: calc(100%*2/3);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}