doctype
html
  head
    block title
      title Foundry Hair Salon - Kailua
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="assets/js/modernizr.js")
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    script(src="https://use.typekit.net/dmy5wip.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    main.main
      block content

    script(src="assets/js/fastclick.js" async)
    script(src="assets/js/modernizr.js" async)
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/app.js")