doctype
html
  head
    block title
      title Foundry Salon — Salon Cooperative and Creative Space
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="assets/js/modernizr.js" async)
    link(type="text/css" rel="stylesheet" href="assets/css/app.css")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Foundry Salon — Salon Cooperative and Creative Space")
    meta(name="twitter:description" content="A modern oasis boutique salon tucked away in the heart of Kailua.")
    meta(name="twitter:image:src" content="http://foundrysalon.com/assets/images/og-thumbnail.jpg")
    meta(name="twitter:domain" content="http://foundrysalon.com/")
    meta(property="og:title" content="Foundry Salon — Salon Cooperative and Creative Space")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://foundrysalon.com")
    meta(property="og:site_name" content="Foundry Salon")
    meta(property="og:image" content="http://foundrysalon.com/assets/images/og-thumbnail.jpg")
    meta(property="og:description" content="A modern oasis boutique salon tucked away in the heart of Kailua.")
  body
    main.main
      block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
    script.
      window.FastClick || document.write('<script src="assets/js/fastclick.js">\x3C/script>')
    script(src="//cdnjs.cloudflare.com/ajax/libs/blazy/1.5.4/blazy.min.js")
    script.
      window.Blazy || document.write('<script src="assets/js/blazy.js">\x3C/script>')
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/app.js")